*{
    background-color: black;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}

.image-container { 
    display: flex;  /* Ajusta el espacio entre las imágenes */ 
    flex-wrap: nowrap; /* Evita que las imágenes se ajusten en múltiples filas */ 
} 
.image-container img { 
    width: 30%; /* Ajusta el porcentaje según el número de imágenes y el espaciado deseado */ 
    height: auto; /* Mantiene la proporción original */ 
}